
.nav-bar {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.839) 0%,
    rgba(0, 0, 0, 0.73) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  position: fixed;
  top: 0;
 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; /* levo i desno po 20px */
}
.nav-bar button {
  font-family: "Faustina", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}
h1 {
  text-align: center;
}

.nav-btns {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 10px;
}

.nav-header {
  background: transparent
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Baskervville SC", serif;
  font-optical-sizing: auto;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
}

.order-btn,
.table-btn {
  background-color: transparent;
  border-radius: 10px;
  border: 0.5px solid rgb(138, 137, 137);
  border: none;
}
.table-btn,
.order-btn {
  position: relative;
  font-size: 15px;
  font-weight: 200;
  padding: 5px;
  color: gainsboro;
}

.order-btn::after,
.table-btn::after {
  content: "";
  position: absolute;
  bottom: 0; /* stavi na donju ivicu dugmeta */
  left: 0;
  height: 1px; /* debljina linije */
  width: 0; /* startuje sa 0 */
  background: white;
  transition: width 0.3s ease;
}
.order-btn:hover::after,
.table-btn:hover::after {
  width: 100%;
}
