#root {
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  box-sizing: border-box;
}
.bg {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.parallax {
  height: 80vh; /* koliko želiš da se vidi slike */
  background-image: url("./assets/images/service6.jpg"); /* ili neka druga */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* pravi “parallax” efekat */
}
